@font-face {
  font-family: sans;
  src: url(assest/4UasrENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iqcsih3SAyH6cAwhX9RPjIUvQ.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  font-size: clamp(14px, 1vw, 18px);
}

@mixin flex-column($gap: 0rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}



main {
  width: 100%;
  max-width: 2000px;
  margin-inline:auto;
  
  

  header {
    height: 3rem;
    background-image: linear-gradient(to right, #0f77fc, #7f40f2);
    text-align: center;
    padding-top: 1rem;
    color: white;
    font-weight: 700;
    font-family: sans;
    font-size: 0.9rem;
    
    
  }

  section .logo img {
    padding: 2rem;
  }

  #secondSection {
    @include flex-column(3rem);
    padding: 1rem;

    .top img {
      width: 100%;
    }

    .bottom h1 {
      font-size: 3rem;
      text-align: center;
      font-weight: 700;
      font-family: sans;
      line-height: 1;
    }
  }

  #thirdSection {
    background: linear-gradient(to bottom left, #ffffff, #e6c6d5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 2rem;

    h2 {
      font-family: sans;
      font-size: 2rem;
      font-weight: 400;
      text-align: center;
      margin: 0 auto;
    }
  }

  #fourthSection {
    @include flex-column(5rem);
    padding: 2rem;

    margin-top: 4rem;
    .top,
    .bottom,
    .middle {
      img {
        width: 100%;
        padding-top: 3rem;
      }
    }

    .top {
      h2 {
        font-family: sans;
      }
      p {
        font-family: Roboto;
        padding-top: 2rem;
        color: #4a4a4a;
        font-size: 1.1rem;
        line-height: 1.8rem;
      }
    }

    .middle {
      h2 {
        font-family: sans;
      }

      p {
        font-family: Roboto;
        padding-top: 2rem;
        color: #4a4a4a;
        font-size: 1.1rem;
        line-height: 1.8rem;
      }
    }

    .bottom {
      h2 {
        font-family: sans;
      }

      p {
        font-family: Roboto;
        padding-top: 2rem;
        color: #4a4a4a;
        font-size: 1.1rem;
        line-height: 1.8rem;
      }
    }
  }

  #fifthSection {
    @include flex-column(2rem);
    padding: 2rem;

    .top img {
      width: 100%;
    }

    .bottom {
      @include flex-column(1rem);
      padding: 1rem;
      h4 {
        color: #4a4a4a;
        font-family: sans;
        font-weight: 700;
      }

      h2 {
        font-size: 2.5rem;
        font-family: sans;
      }

      p {
        font-family: roboto;
        color: #4a4a4a;
        font-size: 1.05rem;
        line-height: 1.5rem;
      }

      .lower {
        @include flex-column(2rem);
        padding: 0rem;

        button {
          padding: 0.8rem 2.5rem;
          width: fit-content;
          border-radius: 45px;
          border: 1px solid #0468d7;
          color: #0468d7;
          font-weight: 700;
          font-family: sans;
        }

        a {
          font-family: sans;
          text-decoration: none;
          color: black;
          font-weight: 700;
          padding-left: 1.6rem;
        }
      }
    }
  }

  #sixthSection {
    @include flex-column(2rem);
    padding: 2rem;
    background-image: linear-gradient(to left, white, #fcfce2);

    .top img {
      width: 100%;
    }
    .bottom {
      @include flex-column(1rem);
      padding: 2rem;
      h4 {
        color: #4a4a4a;
        font-family: sans;
        font-weight: 700;
      }

      h3 {
        font-size: 2.8rem;
        font-family: sans;
      }
      p {
        font-family: roboto;
        color: #4a4a4a;
        font-size: 1.05rem;
        line-height: 1.5rem;
      }

      button {
        padding: 0.8rem 2.3rem;
        width: fit-content;
        background-color: #0468d7;
        color: white;
        border-radius: 45px;
        border: none;
        font-weight: 700;
        font-family: sans;
      }
    }
  }

  #seventhSection {
    @include flex-column(2rem);
    padding: 2rem;

    .top img {
      width: 100%;
    }

    .bottom {
      @include flex-column(1rem);

      h4 {
        color: #4a4a4a;
        font-family: sans;
        font-weight: 700;
      }
      h3 {
        font-size: 2.8rem;
        font-family: sans;
      }
      p {
        font-family: roboto;
        color: #4a4a4a;
        font-size: 1.05rem;
        line-height: 1.5rem;
      }
      button {
        padding: 0.8rem 2rem;
        width: fit-content;
        border-radius: 45px;
        color: #0468d7;
        border: 1px solid #0468d7;
        font-weight: 700;
        font-family: sans;
      }
    }
  }

  #eighthSection {
    @include flex-column(2rem);
    background-image: linear-gradient(to left, white, #fcfce2);
    padding: 2rem;
    .top img {
      width: 100%;
    }
    .bottom {
      @include flex-column(1.4rem);

      h4 {
        color: #4a4a4a;
        font-family: sans;
        font-weight: 700;
      }

      h3 {
        font-size: 2.7rem;
        font-family: sans;
      }
      p {
        font-family: roboto;
        color: #4a4a4a;
        font-size: 1.05rem;
        line-height: 1.5rem;
      }
      button {
        padding: 0.8rem 2.3rem;
        width: fit-content;
        background-color: #0468d7;
        color: white;
        border-radius: 45px;
        border: none;
      }
    }
  }

  #ninthSection {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8rem 2rem;
    width: 100%;

    .textbox {
      background-color: #042449;
      padding: 8rem 4rem;
      width: 100%;
      border-radius: 3rem;
      background-image: url(/assest/img9.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 10% 50%;

      display: flex;
      align-items: start;
      justify-content: center;
      flex-direction: column;
      gap: 1.8rem;
      color: white;

      h3 {
        font-size: 3.1rem;
        font-family: sans;
      }
      p {
        font-size: 1.2rem;
        font-family: roboto;
      }

      .btn-box {
        @include flex-column(1.8rem);
        font-family: sans;
        button {
          padding: 0.8rem 2.5rem;
          width: fit-content;
          background-color: white;
          color: #0468d7;
          border-radius: 2rem;
          border: none;
          font-weight: 600;
        }
        a {
          color: white;
          text-decoration: none;
          font-weight: 600;
          padding-left: 1.6rem;
        }
      }
    }
  }
}

@media (min-width: 900px) {
  main {
    #secondSection {
      flex-direction: row-reverse;
      padding: 1rem 6rem;
      align-items: center;

      .top,
      .bottom {
        width: 50%;
      }

      .bottom {
        h1 {
          max-width: 90%;
          font-size: 4rem;
          text-align: left;
          margin: 0 auto;
        }
      }
    }

    #thirdSection {
      padding: 6rem 0;
      h2 {
        max-width: 63%;
      }
    }

    #fourthSection {
      padding: 0rem 6rem;
      flex-direction: row;

      .top,
      .bottom,
      .middle {
        h2 {
          font-size: 2rem;
        }

        p {
          font-size: 1.3rem;
        }
      }
    }

    #fifthSection {
      flex-direction: row-reverse;
      padding: 1rem 6rem;
      gap: 6rem;

      .top,
      .bottom {
        width: 50%;
      }

      .bottom {
        justify-content: center;

        h4 {
          font-size: 1.5rem;
        }

        h2 {
          font-size: 3.7rem;
        }
        p {
          font-size: 1.2rem;
          line-height: 2rem;
        }

        .lower {
          flex-direction: row;
          align-items: center;
          gap: 0.5rem;
        }
      }
    }

    #sixthSection {
      flex-direction: row;
      padding: 1rem 6rem;
      gap: 6rem;

      .top,
      .bottom {
        width: 50%;
      }

      .bottom {
        justify-content: center;

        h4 {
          font-size: 1.5rem;
        }
        h3 {
          font-size: 3.7rem;
        }
        p {
          font-size: 1.2rem;
          line-height: 2rem;
        }
      }
    }

    #seventhSection {
      gap: 9rem;
      flex-direction: row-reverse;
      padding: 4rem 6rem;
      .top,
      .bottom {
        width: 50%;
      }
      .bottom {
        justify-content: center;

        h4 {
          font-size: 1.5rem;
        }

        h3 {
          font-size: 3.7rem;
        }
        p {
          font-size: 1.2rem;
          line-height: 2rem;
        }
      }
    }

    #eighthSection {
      flex-direction: row;
      padding: 1rem 6rem;
      gap: 6rem;

      .top,
      .bottom {
        width: 50%;
      }

      .bottom {
        justify-content: center;
        h4 {
          font-size: 1.5rem;
        }

        h3 {
          font-size: 3.7rem;
        }
        p {
          font-size: 1.2rem;
          line-height: 2rem;
        }
      }
    }

    #ninthSection {
      padding: 8rem 6rem;

      .textbox {
        align-items: start;
        justify-content: space-between;
        background-position: 100% 50%;
        padding: 6rem 6rem;
        background-size: contain;
        gap: 1rem;

        h3 {
          font-size: 4.5rem;
          margin-bottom: 0;
        }
        p {
          font-size: 1.5rem;
          margin-bottom: 2rem;
        }

        .btn-box {
          flex-direction: row;

          align-items: center;
        }
      }
    }
  }
}
