@font-face {
  font-family: sans;
  src: url(assest/4UasrENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iqcsih3SAyH6cAwhX9RPjIUvQ.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  align-items: center;
}
main header {
  height: 3rem;
  background-image: linear-gradient(to right, #0f77fc, #7f40f2);
  text-align: center;
  padding-top: 1rem;
  color: white;
  font-weight: 700;
  font-family: sans;
  font-size: 0.9rem;
}
main section .logo img {
  padding: 2rem;
}
main #secondSection {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1rem;
}
main #secondSection .top img {
  width: 100%;
}
main #secondSection .bottom h1 {
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
  font-family: sans;
  line-height: 1;
}
main #thirdSection {
  background: linear-gradient(to bottom left, #ffffff, #e6c6d5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 2rem;
}
main #thirdSection h2 {
  font-family: sans;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
}
main #fourthSection {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 2rem;
  margin-top: 4rem;
}
main #fourthSection .top img, main #fourthSection .bottom img, main #fourthSection .middle img {
  width: 100%;
  padding-top: 3rem;
}
main #fourthSection .top h2 {
  font-family: sans;
}
main #fourthSection .top p {
  font-family: Roboto;
  padding-top: 2rem;
  color: #4a4a4a;
  font-size: 1.1rem;
  line-height: 1.8rem;
}
main #fourthSection .middle h2 {
  font-family: sans;
}
main #fourthSection .middle p {
  font-family: Roboto;
  padding-top: 2rem;
  color: #4a4a4a;
  font-size: 1.1rem;
  line-height: 1.8rem;
}
main #fourthSection .bottom h2 {
  font-family: sans;
}
main #fourthSection .bottom p {
  font-family: Roboto;
  padding-top: 2rem;
  color: #4a4a4a;
  font-size: 1.1rem;
  line-height: 1.8rem;
}
main #fifthSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}
main #fifthSection .top img {
  width: 100%;
}
main #fifthSection .bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
main #fifthSection .bottom h4 {
  color: #4a4a4a;
  font-family: sans;
  font-weight: 700;
}
main #fifthSection .bottom h2 {
  font-size: 2.5rem;
  font-family: sans;
}
main #fifthSection .bottom p {
  font-family: roboto;
  color: #4a4a4a;
  font-size: 1.05rem;
  line-height: 1.5rem;
}
main #fifthSection .bottom .lower {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0rem;
}
main #fifthSection .bottom .lower button {
  padding: 0.8rem 2.5rem;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 45px;
  border: 1px solid #0468D7;
  color: #0468D7;
  font-weight: 700;
  font-family: sans;
}
main #fifthSection .bottom .lower a {
  font-family: sans;
  text-decoration: none;
  color: black;
  font-weight: 700;
  padding-left: 1.6rem;
}

@media (min-width: 900px) {
  main #secondSection {
    flex-direction: row-reverse;
    padding: 1rem 6rem;
    align-items: center;
  }
  main #secondSection .top,
  main #secondSection .bottom {
    width: 50%;
  }
  main #secondSection .bottom h1 {
    max-width: 90%;
    font-size: 4rem;
    text-align: left;
    margin: 0 auto;
  }
  main #thirdSection {
    padding: 6rem 0;
  }
  main #thirdSection h2 {
    max-width: 63%;
  }
  main #fourthSection {
    padding: 0rem 6rem;
    flex-direction: row;
  }
  main #fourthSection .top h2, main #fourthSection .bottom h2, main #fourthSection .middle h2 {
    font-size: 2rem;
  }
  main #fourthSection .top p, main #fourthSection .bottom p, main #fourthSection .middle p {
    font-size: 1.3rem;
  }
  main #fifthSection {
    flex-direction: row-reverse;
    padding: 1rem 6rem;
  }
  main #fifthSection .top, main #fifthSection .bottom {
    width: 50%;
  }
  main #fifthSection .bottom {
    justify-content: center;
  }
  main #fifthSection .bottom h4 {
    font-size: 1.5rem;
  }
  main #fifthSection .bottom h2 {
    font-size: 3.7rem;
  }
  main #fifthSection .bottom p {
    font-size: 1.2rem;
    line-height: 2rem;
  }
  main #fifthSection .bottom .lower {
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }
}/*# sourceMappingURL=style.css.map */